<div class="main-header d-flex justify-content-center align-items-center">
  <img src="<%= image_url('markdown.png') %>" class="main-image" alt="main-image">
  <div class="header">
    <h1 class="main-title">MDPofo</h1>
    <br>
    <p class="main-text">
      Nothing<br>
      But<br>
      Mark Down
    </p>
    <br>
    <%= link_to 'Get started', portfolios_path, class: 'btn btn-primary link-btn btn-lg' %>
  </div>
</div>