
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */


@import "bootstrap";
@import 'mark_it_zero';


// Custom bootstrap variables must be set or imported *before* bootstrap.

body {
  min-height: 100vh;
  font-size: 16px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a:visited {
  color: inherit;
}

a:hover {
  color: white;
  text-decoration: none;
}

.form-group {
  margin-bottom: 0;
}

.link-btn {
  color: white;
}

.link-btn:visited {
  color: white;
}

.container::after {
  display: block;
  content: "";
  clear: both;
}

.navbar {
  min-height: 10vh;
}

.devise-section {
  width: 50%;
  margin: auto;
  padding-top: 1rem;
}

.short-devise {
  padding-top: 15vh;
}


@import "portfolios";
@import "home";
@import "slides";